html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: SFProRounded, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #4C4C51;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-device-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 1024px) {
  html,
  body {
    font-size: 14px;
  }
}
