@font-face {
  font-family: SFProRounded;
  font-weight: 200;
  src: url('/fonts/SF-Pro-Rounded-Light.otf');
}


@font-face {
  font-family: SFProRounded;
  font-weight: normal;
  src: url('/fonts/SF-Pro-Rounded-Regular.otf');
}

@font-face {
  font-family: SFProRounded;
  font-weight: medium;
  src: url('/fonts/SF-Pro-Rounded-Medium.otf');
}

@font-face {
  font-family: SFProRounded;
  font-weight: bold;
  src: url('/fonts/SF-Pro-Rounded-Bold.otf');
}

@font-face {
  font-family: SFProText;
  font-weight: normal;
  src: url('/fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: SFProText;
  font-weight: bold;
  src: url('/fonts/SF-Pro-Text-Bold.otf');  
}

@font-face {
  font-family: SFProText;
  font-weight: medium;
  src: url('/fonts/SF-Pro-Text-Medium.otf');  
}

@font-face {
  font-family: SFProText;
  font-weight: 600;
  src: url('/fonts/SF-Pro-Text-Semibold.otf');  
}

@font-face {
  font-family: SFProText;
  font-weight: 100;
  src: url('/fonts/SF-Pro-Text-Thin.otf');  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: SFProRounded, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #4C4C51;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
